3 cource/practices/pr8/practice8xs.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="catalog">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="videocamera" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="manufacturer" type="xs:string"/>
							<xs:element name="zoom" type="xs:string"/>
							<xs:element name="pixels" type="xs:decimal"/>
							<xs:element name="display" type="xs:string"/>
							<xs:element name="autoexposure" type="xs:decimal"/>
							<xs:element name="digital_effects" type="xs:decimal"/>
							<xs:element name="white_balance" type="xs:string"/>
							<xs:element name="lighting_function" type="xs:string"/>
						</xs:sequence>
						<xs:attribute name="id" type="xs:string"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>